
.ex-1-square{
    transition: background-color 5s;
}

.ex-1-square:hover{
    background-color: rgb(255, 0, 0);
}



.ex-2-square{
    transition: width 4s;
}

.ex-2-square:active{
    width: 100%;
}



.ex-3-square{
    transition: border-radius 5s;
}

.ex-3-square:hover{
    border-radius: 50%;
}



.ex-4-square{
    transition: opacity 5s;
}

.ex-4-square:hover{
    opacity: 0;
}



.ex-5-square{
    transition: all 2s;
}

.ex-5-square:hover{
    transform: scale(2,2);
}

.ex-5-square:active{
    transform: scale(0.5,0.5);

}


.ex-6-img:hover{
    filter: grayscale(1);
}



.ex-7-img{
    transition: all 5s;
}

.ex-7-img:hover{
    filter: grayscale(100%) brightness(150%);
}



.ex-8-img{
    transition: all 30s;
}

.ex-8-img:hover{
    filter: hue-rotate(360deg) saturate(500%);
    border-radius: 20%;
}


.ex-9-img{
    transition: all 6s;
}

.ex-9-img:hover{
    filter: drop-shadow(18px 18px 100px rgb(247, 4, 174)) saturate(500%);
    border-radius: 50%;
    transform: scale(2,2);
}







