
.ex-1-square{
    transition: background-color 5s;
}

.ex-1-square:hover{
    background-color: rgb(255, 0, 0);
}



.ex-2-square{
    transition: width 4s;
}

.ex-2-square:active{
    width: 100%;
}







